

@model auktioner.ViewModels.AddProductViewModel

<form asp-action="Edit" method="post" class="form-horizontal" role="form">
    <h4>Redigera din artikel!</h4>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ProductId" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="ProductId" class ="form-control" />
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="Name" class ="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="Description" class ="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Year" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="Year" class ="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BuyPrice" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="BuyPrice" class ="form-control" />
            <span asp-validation-for="BuyPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Category" class="col-md-2 control-label"></label>
        <div>
            <select asp-for="Category">
                @foreach (var cat in Model.categories)
                {
                    <option>@cat.Name</option>
                }
            </select>
            <span asp-validation-for="categories" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Spara" />
        </div>
    </div>
</form>