@model auktioner.ViewModels.AuctioneerViewModel

<form asp-action="ForAuctioneer" method="post" class="form-horizontal" role="form">
    <h4>Lägg till slutpris och om artikeln finns i lager</h4>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EndPrice" class="col-md-2 control-label"></label>
        <div>
            <input asp-for="EndPrice" class ="form-control" />
            <span asp-validation-for="EndPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="InStock" class="col-md-2 control-label"></label>
        <input asp-for="InStock"/>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Ändra lagerstatus & slutpris" />
        </div>
    </div>
</form>