@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <h5>För att lägga in och se objekt måste du ha ett konto. Logga in på ditt befintliga konto eller skapa ett nytt här uppe i menyn.</h5>
    <p>Vill du bli auktionsansvarig klickar du på länken "Bli auktionsansvarig" i menyn. Som auktionsansvarig kan du även lägga till slutpris och lagerstatus för en artikel.</p>
</div>
